.container_slider {
  display: flex;
  justify-content: center;
  padding-top: 1.875rem;
}

.slider {
  width: 100vw;
  height: 31.25rem;
  overflow: hidden;
}

.slider-width {
  display: flex;
  height: 100%;
  transition: all ease 0.3s;
}

.slider-img {
  width: 100vw;
  height: inherit;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  text-shadow: 0rem 0.0625rem 0.0625rem #333;
  font-size: 3.125rem;
  font-weight: bold;
}

.slider-controls {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: absolute;
}

.slider-control {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.slider-control img {
  cursor: pointer;
  width: 2.8125rem;
}

@media (min-width: 320px) and (max-width: 425px) {
  .slider-img {
      font-size: 1.875rem;
  }
}